<h1>Mitglieder-Service</h1>
<p>Hier können die Vereinsmitglieder ihre persönlichen Daten pflegen, 
wie
<ul>
<li>persönliche Daten: Name, Geburtstag, Mitgliedsbeitrag (Jugend/Studenten/Erwachsene)
<li>Anschrift
<li>Kontaktdaten: Email, Telefon
<li>Bankverbindung: IBAN, BIC
</ul>
Die Daten werden ausschließlich für vereinsinterne Zwecke verwendet,
vor allem für das Begleichen des Mitgliedsbeitrages via SEPA-Laschtschrift.
</p>
