<p>Hier können die Vereinsmitglieder ihre persönlichen Daten pflegen, 
wie
<ul>
<li>persönliche Daten: Name, Geburtstag, Mitgliedsbeitrag (Jugend/Studenten/Erwachsene)
<li>Anschrift
<li>Kontaktdaten: Email, Telefon
<li>Bankverbindung: IBAN, BIC
</ul>
Die Daten werden ausschließlich für vereinsinterne Zwecke verwendet,
vor allem für das Begleichen des Mitgliedsbeitrages via SEPA-Lastschrift.
</p>
<hr>
<p>
  Bereits registriert?<br>
  <a href="/users/sign_in">Login</a>
</p>

</p>
  Noch nicht registriert?<br>
  <a href="/users/sign_up">Neuanmeldung</a>
</p>
